<div id="map">
	<script> 
	var schools = <%= @school_array.to_json %>;
	var school_group = new L.LayerGroup();
	var lng = <%= @lng || 0 %>;
	var url = "/OfflineSchools.json?lat=37.7749295&lng=-122.4194155";
	var map = L.map('map', {
		center:[37.7749295,-122.4194155],
		zoom: 11,
		layers: [school_group]
	});
	
	$.ajax({
	    type: "GET",
	    url: url,
	    dataType: 'json',
	    success: function (response) { 
	      for (var i = 0; i < response.length; i++) {
					L.marker([response[i].latitude,response[i].longitude]).openPopup('click').bindPopup(
						"<strong>" + response[i]["name"] + "</strong>" + "<br>" + response[i]["street"] + "<br>" + response[i]["bio"]
					).addTo(school_group);
				}
	    }
	});

	var overlays = {
		"school_group": school_group
	}
	L.control.layers(overlays).addTo(map);

	L.tileLayer('http://{s}.tile.cloudmade.com/f6c127adc91a47f1b4a73837013ed783/998/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18,
      minZoom: 1,
      maxBounds: [[-85, -180], [85, 180]]
  }).addTo(map);
	</script>
</div>
