<form role="form" action="/OfflineSchools/new" method="get">
	<div class="form-group">
		<input class="form-control" type="text" name="search_term">
		<button class="btn btn-primary">Submit</button>
	</div>
</form>

