<div id="map">
	<script> 

	var schools = <%= @school_array.to_json %>
	var school_group = new L.LayerGroup();

	var map = L.map('map', {
		center:[<%= @lat %>, <%= @lng %>],
		zoom: 10,
		layers: [school_group]
	});

	$.ajax({
	    type: "GET",
	    url: "/OfflineSchools.json",
	    dataType: 'json',
	    success: function (response) { 
	      for (var i = 0; i < response.length; i++) {
					console.log(response[i].bio);
					L.marker([response[i].latitude,response[i].longitude]).openPopup('click').bindPopup(response[i].name).addTo(school_group);
				}
	    }
	});

	var overlays = {
		"school_group": school_group
	}
	L.control.layers(overlays).addTo(map);

	L.tileLayer('http://{s}.tile.cloudmade.com/f644205df10c4e16a94c5c9b74438873/998/256/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
      maxZoom: 18,
      minZoom: 1,
      maxBounds: [[-85, -180], [85, 180]]
  }).addTo(map);
	
	// Code to manually add school markers
	// var a = schools[0];
	// var b = schools[1];
	// var school_group = new L.LayerGroup();
	// L.marker([a[0],a[1]]).openPopup('click').bindPopup("Some text").addTo(school_group);
	// L.marker([b[0],b[1]]).openPopup('click').bindPopup("some other text").addTo(school_group);
	</script>
</div>