<!DOCTYPE html>
<html>
<head>
  <title>Codemaptest</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css"/>
  <script src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js"></script>
  <link rel="stylesheet" href="../assets/font-awesome.min.css">
</head>
<body>
<div class="row full-height">    
	<div class="col-md-3 full-height">
		<div class='logo-container' href='/'>
			<i class="fa fa-map-marker"></i>
			<h1>learncode</h1>
		</div>
		<div class="links">
			<ul class="link">
				<li>Step 1: Get Inspired</li>
				<hr>
				<li>Step 2: Begin Your Self Study</li>
				<hr>
				<li>Step 3: Get Real Training</li>
			</ul>
		<form action="/OfflineSchools/new" method="get">
			<div class="input-group">
				<input class="form-control" type="text" name="search_term" placeholder="Where do you live?">
				<span class="input-group-btn">
					<button class="btn btn-primary" type="button">Submit</button>
				</span>
			</div>
		</form>
		<hr>
	</div>
</div>
	<div class="col-md-9">
		<%= yield %>
	</div>
</div>
</body>
</html>
